"*":
  "atom-beautify":
    _analyticsUserId: "984d73b1-9e87-44c5-93ab-49f5cb5bbd91"
  "atom-pair":
    pusher_app_key: "e5bbff26e4f5d7f5fd96"
    pusher_app_secret: "1abd4535b556f168c75a"
    slack_url: "https://hooks.slack.com/services/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"
  core:
    disabledPackages: [
      "linter-eslint"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "2c224be6-9874-051d-257f-6f8c2280b19a"
  linter: {}
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
  "linter-php":
    phpExecutablePath: "/usr/local/bin/php"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  react: {}
  "remote-edit": {}
  "remote-sync": {}
  wakatime:
    apikey: "de80adae-c5d8-4420-a070-747ba07bb7bc"
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
    ]
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
